/* Normal links */
.normal_link a:link
{
    color : yellow;
}
.normal_link a:visited
{
    color : green;
}

/* Boxes */
.pre
{
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap  : break-word;    /* IE 5+ */
}

.frame_box
{
    margin           : 10px;
    padding          : 10px;
    border           : 0px;
    background-color : #084040;
    text-align       : left;
    color            : #C0C0C0;
    font-family      : monospace;
}
